 <!-- DataTales Example -->
 <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Tempat</th>
              <th>Nama Customer</th>
              <th>Bank</th>
              <th>Mulai Pesan</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < booking.length; i++) { %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= booking[i].itemId.title %></td>
                <td><%= booking[i].memberId.name %></td>
                <td><%= booking[i].bankId.name_bank %></td>
                <td><%= booking[i].start_date.toLocaleString().split(',')[0] %> s/d <%= booking[i].end_date.toLocaleString().split(',')[0] %></td>
                <td><%= booking[i].payment.status %></td>
                <td>
                    <a href="/booking/<%= booking[i]._id %>" class="btn btn-info btn-edit">
                      <i class="fas fa-eye"></i>
                    </a>
                </td>
              </tr>
              <% } %>  
          </tbody>
          <tfoot>
            <tr>
              <th>No</th>
              <th>Nama Tempat</th>
              <th>Nama Customer</th>
              <th>Bank</th>
              <th>Mulai Pesan</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
</div>