<div class="tab-pane fade show" id="activity" role="tabpanel" aria-labelledby="nav-home-tab">
    <!-- DataTales Example -->
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="m-0 font-weight-bold text-primary">Activity</h6>
        </div>
      <div class="row">
        <div class="col-md-5">
            <form action="/item/add-activity" method="post" enctype="multipart/form-data">
                <div class="m-4">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label>Type</label>
                      <input type="text" id="type" name="type" class="form-control" required>
                    </div>             
                    <div class="form-group">
                      <label>Image</label>
                      <input type="file" id="image" name="image" class="form-control" multiple required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="<%= id %>" name="itemId" class="form-control">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-7">
            <div class="m-4">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableActivity" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Image</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% for(let i=0; i < activity.length; i++) { %>
                        <tr>
                          <td><%= i+1 %></td>
                          <td><%= activity[i].name %></td>
                          <td><%= activity[i].type %></td>
                          <td>
                            <img src="http://localhost:3000/<%= activity[i].img_url %> " alt="<%= activity[i].name %>" height="35px" width="35px">
                          </td>
                          <td>
                            <form action="/item/delete-activity/<%= id %>/activity/<%= activity[i].id %>?_method=DELETE" method="POST">
                              <a 
                                href="javascript:void()"
                                class="btn btn-warning btn-edit-activity" 
                                data-id="<%= activity[i].id %>" 
                                data-name="<%= activity[i].name %>"
                                data-type="<%= activity[i].type %>"
                              >
                                <i class="fas fa-edit"></i>
                              </a>
                              <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                              </button>
                            </form>
                          </td>
                        </tr>
                      <% } %>  
                    </tbody>
                    <tfoot>
                        <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Image</th>
                        <th>Action</th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </div>
      </div>
      <div class="card-footer py-3 text-right">
        <a class="btn btn-primary w-100" href="/item">
           Back
        </a>
      </div>
    </div>
</div> 