 <!-- DataTales Example -->
 <div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
      <h6 class="m-0 font-weight-bold text-primary">Data Bank</h6>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_modal">
        <i class="fas fa-plus"></i>  Add Category
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Bank</th>
              <th>Nomor Rekening</th>
              <th>Nama Pemilik</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < bank.length; i++) { %>
            <tr>
              <td><%= i + 1 %> </td>
              <td><%= bank[i].name_bank %> </td>
              <td><%= bank[i].rekening %> </td>
              <td><%= bank[i].name_account %> </td>
              <td>
                <img src="<%= bank[i].img_url %> " alt="<%= bank[i].name_bank %>" height="35px" width="35px">
              </td>
              <td>
                <form action="/bank/<%= bank[i].id %>?_method=DELETE" method="POST">
                  <a 
                    href="javascript:void()"
                    class="btn btn-warning btn-edit" 
                    data-id="<%= bank[i].id %>" 
                    data-name_bank="<%= bank[i].name_bank %>"
                    data-rekening="<%= bank[i].rekening %>"
                    data-name_account="<%= bank[i].name_account %>"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% } %>  
          </tbody>
          <tfoot>
            <tr>
              <th>No</th>
              <th>Nama Bank</th>
              <th>Nomor Rekening</th>
              <th>Nama Pemilik</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
</div>